[submodule "beckn-onix"]
	path = beckn-onix
	url = https://github.com/beckn/beckn-onix.git
[submodule "oasp-seller-app"]
	path = oasp-seller-app
	url = https://github.com/OSSVerse/oasp-seller-app.git
[submodule "ossverse-buyer-app"]
	path = ossverse-buyer-app
	url = https://github.com/OSSVerse/OSSVerse-Buyer-App.git
[submodule "OSSVerse-Buyer-App-ui"]
	path = OSSVerse-Buyer-App-ui
	url = https://github.com/OSSVerse/OSSVerse-Buyer-App-ui.git
